.dashboard {
    color: white;
    padding: 2rem;
}

.records-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loadmore {
    width: 12rem;
    height: 4rem;
    outline: none;
    border: none;
    background: rgba(76, 76, 76, 0.33);
    box-shadow: 0px 4px 58px 21px rgba(74, 74, 74, 0.25);
    backdrop-filter: blur(23px);
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
    color: white;
    transition: all .5s;
    cursor: pointer;
}

.loadmore:hover {
    transform: scale(1.02);
}

.loadmore:active {
    transform: scale(0.8);
    box-shadow: 0px 4px 58px 21px rgba(19, 19, 19, 0.25);

}