header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    padding: 20px;
    color: white;
    padding-bottom: 30px !important;
}

.header_icon {
    object-fit: contain;
}

.MuiSvgIcon-root {
    margin: 0 1rem;
}

.title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}

img {
    width: 200px;
}

.rest {
    font-size: 20px;
    line-height: 81.5%;
}