    .levelbadge {
        display: flex;
        justify-content: space-between;
        width: 100%;
        background: rgba(255, 255, 255, 0.33);
        box-shadow: 0px 4px 58px 21px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(23px);
        margin-bottom: 20px;
        padding: 20px;
        border-radius: 10px;
    }
    
    .left {
        display: flex;
        align-items: center;
    }
    
    .right {
        display: flex;
        align-items: center;
    }
    
    .smallmusic-banner {
        width: 40px;
        margin-left: 20px;
    }