
.player-container {
    background: rgba(255, 255, 255, 0.33);
    box-shadow: 0px 4px 58px 21px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(23px);
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    border-radius: 10px;
}


.center-action-btn .MuiSvgIcon-root {
    color: grey;
    font-size: 3rem;
}

.music-action-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.music-action-button * {
    color: white;
}

.music-banner img {
    height: 22rem;
    border-radius: 8px;
}

.levels-player-container {
    width: 70%;
    padding: 2rem;
}

.levels-content {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0 5px;
}

.levels-content h1 {
    font-size: 4rem;
}

.bid-section {
    height: 5rem;
    margin-top: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.music-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bid-status {
    background: rgba(255, 255, 255, 0.18);
    width: 60%;
    height: 5rem;
    display: flex;
    border-radius: 8px;
    padding: .5rem 0;
    align-items: center;
}

.bid {
    width: 50%;
    padding: 0 2rem;
    /* padding: 1rem; */
}

.place-bid {
    width: 10rem;
    height: 3rem;
    outline: none;
    border: none;
    background: linear-gradient(262.07deg, rgba(0, 255, 133, 0.2) 3.73%, rgba(191, 0, 239, 0.2) 100%), #63E9E0;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    transition: all .5s;
    cursor: pointer;
}

.place-bid:hover {
    transform: scale(1.02);
}
.last-bid-section{
    border-left: 1px solid white;

}