.box {
    background: rgba(255, 255, 255, 0.33);
    box-shadow: 0px 4px 58px 21px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(23px);
    height: 400px;
    width: 100%;
    border-radius: 14px;
    display: flex;
}

img {
    padding: 40px;
}

.play {
    border-top: 4px #ffff solid;
    width: 40px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    border: none;
    cursor: pointer;
}

.rest {
    display: flex;
}

.box2 {
    background: rgba(255, 255, 255, 0.18);
    border-radius: 8px;
    width: 200px;
    height: 50px;
}

.box3 {
    background: linear-gradient(262.07deg, rgba(0, 255, 133, 0.2) 3.73%, rgba(191, 0, 239, 0.2) 100%), #63E9E0;
    border-radius: 4px;
    width: 100px;
    height: 25px;
}

.box-s {
    background: rgba(255, 255, 255, 0.33);
    box-shadow: 0px 4px 58px 21px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(23px);
    border-radius: 8px;
    height: 70px;
    width: 100%;
    margin-top: 40px;
}