section .spreads {
    position: fixed;
    filter: blur(250px);
    z-index: -2;
  }
  
  section .spreads:nth-child(1) {
    background-color: #3b59c5;
    height: 400px;
    width: 400px;
    margin-left: 2rem;
    margin-top: 50rem;
  }
  
  section .spreads:nth-child(2) {
    background-color: #ba16e7;
    height: 400px;
    width: 400px;
    margin-left: 60rem;
    margin-top: 5rem;
  }

  @keyframes translateX {
    from{
      opacity: 0;
      transform: translateX(-20px);
    }
    to{
      opacity: 1;
      transform: translatex(0px);
    }
  }

  @keyframes translateY {
    from {
      opacity: 0;
      transform: translateY(-40px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }